body {
    background-color: whitesmoke;
}

.content{
    font-family: 'Open Sans', sans-serif;
}

.content img{
    margin-top:1em;
}

.title{
    width:100%;
    background-color:#edc478;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;   
}

header .title{
    background-color:#c72b00;
}

.title h1{
        /*margin-left:32px;*/
        margin-left: 0.8em;
        padding-top:0.2em;
        padding-bottom:0.2em;
}

h1{
    font-family: 'Exo 2', sans-serif;
    font-size: 2.5em;
    color: white;
    font-weight: bold;
    margin: 0em 0em 0em 0em;
}


header {
    background-color: #fff2f2;
    margin: auto;
    width: 65em;
    padding-top: 0.0em;
    padding-bottom: 1em;
    border: 0.01em solid rgb(248, 199, 181);
    border-radius: 1em;
}



a {
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    color: #c72b00;
    font-weight: bold;
    margin-top: 0.4em;
}
section {
    background-color: #fcf5e9;
    margin: auto;
    width: 65em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0.01em solid rgb(248, 199, 181);
    border-radius: 1em;
}

.content {
    margin-left: 2em;
    margin-right: 2em;
}

nav {
    background-color: white;
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    border: 0.01em solid rgb(248, 199, 181);
    border-radius: 1em;
}

ul {
    list-style-type: none;
    padding-left: 1em;
}

.table {
    display: table;
    border-spacing: 0.5em;
}

.table-row {display: table-row;}
.table-cell {display: table-cell;}
.table-content {font-size: x-large;}
.table-description {padding-left: 2em;}

.denominator {
    border-top: thick solid black;
}

.fraction {
    display:inline-block;
}

.fraction span {
    font-size: 3em;
    display:block;
    margin-top:0.15em;
}

.hidden{
    display:none;
}

.contentImg{
    width:100%;
}

.exercise{
    width:100%;
}

.exerciseBlock{
    display:inline-block;
    width:33%;
}

.playArea {
    width: 50em;
}

.target {
    width: 10em;
    height: 8em;
    position: relative;
} 

#target1 {
    border: 1px solid rgb(185, 123, 52);
    margin-right: 15.5em;
}

#target2 {
    border: 1px solid rgb(44, 107, 180);
    margin-right: 15.5em;
}

#target3 {
    border: 1px solid rgb(25, 143, 41);
}

#target4 {
    border: 1px solid rgb(148, 27, 142);
    margin-top: 1em;
}

.foodSpot {
    width: 10em;
    height: 8em;
    position: relative;
    margin-top: 4em;
}

#foodSpot1 {
    margin-right: 15.5em;
}

#foodSpot2 {
    margin-right: 15.5em;
}


.item{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

.pizza{
    background: url(testPizza.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.melon{
    background: url(Happy-Watermelon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.cake{
    background: url(cakeTest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.kidPicture {
    width: 10em;
    height: 8em;
    position: relative;
    margin-left: -1.5em;
}

.fractare {
    margin-left: 4em;
}

#exercise{
    margin: auto;
    width: 50%;
    padding: 10px;
}

#exercise button{
    width:50%;
    margin:auto;
    display:block;
}

#exerciseCanvas{
    height:50em;
    margin: 0 auto;
    width: 50%;
}

#exerciseCanvas p{
    visibility: hidden;
}

#exerciseCanvas *{
    /*margin: 0 auto;*/
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    /*display: block;*/
    text-align: center;
}

#exerciseCanvas input {
    display: block;
    margin-top: 2em;
}

#fractare4 {
    margin-top: 1em;
}

#foodSpot4{
    margin-top: 4em;
}